<div class="container mt-3">
  <div class="row">
    <ul class="col-sm-8 offset-md-2">
      <% @articles.each do |article| %>
        <li class="mb-3">
        <h2><%= link_to article.title, article_path(article) %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo eu libero at euismod. Vestibulum non odio vulputate elit volutpat blandit. Maecenas...</p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
